* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at center, #9f12c2, #0066ff);  
    justify-content: space-between;
 
}

footer {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*tabela*/
table {
    margin: 10px auto;
    width: 100%; 
    border-collapse: collapse; 
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden; 
    box-shadow: 0 0 10px #464957;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*topo da tabela*/
table thead {
    background-color: #0066ff;
    color: #ffffff;
}

/*tamanho tabela*/
table thead th {
    padding: 10px; 
    font-weight: bold;
    text-align: center; 
    font-size: 18px;
}

/*texto tabela*/ 
table tbody td {
    padding: 10px;
    color: #000000;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
}

header {
    background-color: #1f3c99;
    color: #ffffff;
    padding: 4em 0;
    text-align: center;
    box-shadow: 0 4px 8px #464957;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header nav ul li {
    display: inline;
    margin: 0 1em;
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: normal;
}

header nav ul li a:hover {
    text-decoration: underline;
}

main {
    height: 480px;    
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main div form{
    text-align: left;
}

h2 {
    color: #ffffff;
    text-align: center;
    height: 5vb;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.wrapper {
    background-color: #ca7efc;
    box-shadow: 0 4px 8px #252835;
    border-radius: 15px;
    padding: 2em;
    max-width: fit-content;
    min-width: 600px;
    margin: 0 auto;
}

form label {
    display: block;
    margin-top: 1em;
    font-weight: bold;
}

/*style do form*/
form input[type="text"],
form input[type="date"] {
    width: 100%;
    padding: 0.5em;
    margin-top: 0.5em;
    border: 1px solid #ffffff;
    border-radius: 4px;
}

/*style botão feito no script*/
button {
    display: inline-block;
    background-color: #9f12c2;
    color: #ffffff;
    padding: 0.75em 1.5em;
    margin-top: 1em;
    border: none;
    border-radius: 4px;
    font-size: 1em;
}

/*style botão feito no css*/
.btn {
    padding: 10px 15px;
    text-decoration: underline;
    color: white;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    font-size: 14px;
    margin: 3px;
    background-color: #9f12c2;
}

/*hover botão feito no css*/
.btn:hover {
    background-color: #0066ff;
    text-decoration: underline;
}